.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.page_content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#SearchPage .page_content {
  width: 85%;
}

.error {
  color: red;
}

#MentorPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#MentorAvatar > img {
  width: 200px;
}

#SearchPage, #MentorPage {
  margin-top: 20px;
}

#MentorsPage > #MentorTable {
  width: 85%;
  margin: 0 auto 20px auto;
}

#MentorInfo {
  width: 85%;
  margin: 0 auto 20px auto;
}

.form_container {
  margin-bottom: 10px;
}
